---
import type { ListType } from '../pages/index.astro';
import { translate } from '../utils/trans';
import type { ItemStatus } from '../utils/xata';
import type { ItemType } from './List.astro';
import SelectItem from './SelectItem.astro';
interface Props {
  item?: ItemType;
  list: ListType;
}

const { item, list } = Astro.props;
const status = item?.status as ItemStatus;
const isEditing = false;
---

<li class={`block ${status === 'INACTIVE' ? 'line-through' : ''}`}>
  {
    item ? (
      <>
        {isEditing ? (
          <SelectItem item={item} list={list} />
        ) : (
          <div
            class="grid gap-2"
            style={{ gridTemplateColumns: '1fr auto auto' }}>
            <div class="truncate">
              {item.name ?? translate(item.product.name)}
              {item.comment ? ` (${item.comment})` : ''}
            </div>
            <div>{item.amount}</div>
            <div>{translate(item.unit?.name)}</div>
          </div>
        )}
      </>
    ) : (
      <SelectItem list={list} />
    )
  }
</li>
